body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


/* Database related rules */
#database-table{
  height: 400px;
  overflow:auto;
  margin-bottom: 20px;
}

/* Buttons related rules */

#dropdown{
  display:flex;
  justify-content: : center;
  flex-wrap: wrap;

}

.option{
  display: none;
}

.option{
  margin-top:20px;
}
