body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


/* Database related rules */
#database-table{
  min-height: 500px;
  overflow:auto;
  margin-bottom: 5vw;
}



/* Buttons related rules */
